/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 450px) {
    main.main-content-container>ul>iframe.size-iframe {
        display: block;
        margin: 0 auto;
        width: 285px;
        height: 225px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main.main-content-container {
        padding: 20px 45px;
    }

    main.main-content-container>img.size-img {
        width: 475px;
    }

    main.main-content-container>iframe.size-iframe {
        display: block;
        margin: 30px auto 0 auto;
        width: 490px;
        height: 315px;
    }

    main.main-content-container>ul>iframe.size-iframe {
        display: block;
        margin: 0 auto;
        width: 425px;
        height: 275px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main.main-content-container {
        padding: 20px 70px;
    }

    main.main-content-container>img.size-img {
        width: 590px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    main.main-content-container {
        padding: 20px 90px;
    }

    main.main-content-container>img.size-img {
        width: 590px;
    }

    main.main-content-container>ol,
    main.main-content-container>ul {
        margin-top: 30px;
        padding: 0 100px;
        font-size: 1em;
        text-indent: 10px;
        line-height: 1.5;
    }

    main.main-content-container>ol>div.books-img {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
    }

    main.main-content-container>ol>div.books-img>img {
        display: inline-block;
        width: 215px;
    }

    main.main-content-container>ol>div.books-img>blockquote {
        display: inline-block;
        padding: 10px;
        margin: 20px auto 0 auto;
        width: 50%;
    }

    main.main-content-container>ul>iframe.size-iframe {
        display: block;
        margin: 0 50px;
        width: 490px;
        height: 315px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}